footer.main-footer

  .upper-section
    .auto-container
      .widgets-section
        .row.clearfix
          // Column
          .column.col-xl-3.col-lg-4.col-md-12.col-sm-12
            .footer-widget.info-widget
              .widget-title
                h4 Get In Touch
              ul.info
                li.address
                  | &#xACBD;&#xC0C1;&#xB0A8;&#xB3C4; &#xD1B5;&#xC601;&#xC2DC; 
                  br
                  | &#xC0B0;&#xC591;&#xC74D; &#xAD81;&#xD56D;&#xAE38; 
                  br
                  | 39 (&#xC6B0;)53083
                li.timing
                  | &#xADFC;&#xBB34; &#xC2DC;&#xAC04;: 
                  br
                  | &#xC6D4;-&#xAE08;: 9am to 6pm
                li
                  span.phone
                    a(href='tel:055-641-0430') (+082) 055 641 0430
                  br
                  span.email
                    a(href='mailto:aquatop68@hanmail.net') aquatop68@hanmail.net
          // Column
          .column.col-xl-6.col-lg-4.col-md-12.col-sm-12
            .footer-widget.services-widget
              .widget-title
                h4 Main Services
              .widget-content
                .row.clearfix
                  .col-xl-6.col-lg-12.col-md-6.col-sm-12
                    ul
                      li
                        a(href='fish-feed-graph.html')
                          span.icon.flaticon-button-of-nine-outlined-circles
                          span.txt &#xC81C;&#xD488; &#xBAA8;&#xC2DD;&#xB3C4;
                          span.sub-txt
                            | &#xC548;&#xB0B4;&#xD398;&#xC774;&#xC9C0;
                            i.arrow.flaticon-play-button-1
                      li
                        a(href='fish-feed.html')
                          span.icon.flaticon-fish-food
                          span.txt &#xC0AC;&#xB8CC;
                          span.sub-txt
                            | &#xC548;&#xB0B4;&#xD398;&#xC774;&#xC9C0;
                            i.arrow.flaticon-play-button-1
                      li
                        a(href='feed-machine.html')
                          span.icon.flaticon-machine
                          span.txt &#xAE30;&#xC790;&#xC7AC;
                          span.sub-txt
                            | &#xC548;&#xB0B4;&#xD398;&#xC774;&#xC9C0;
                            i.arrow.flaticon-play-button-1
                  .col-xl-6.col-lg-12.col-md-6.col-sm-12
                    ul
                      li
                        a(href='phamacy.html')
                          span.icon.flaticon-liquid-soap
                          span.txt &#xC57D;&#xD488;
                          span.sub-txt
                            | &#xC548;&#xB0B4;&#xD398;&#xC774;&#xC9C0;
                            i.arrow.flaticon-play-button-1
                      li
                        a(href='consulting.html')
                          span.icon.flaticon-consultation
                          span.txt &#xCEE8;&#xC124;&#xD305;
                          span.sub-txt
                            | &#xC548;&#xB0B4;&#xD398;&#xC774;&#xC9C0;
                            i.arrow.flaticon-play-button-1
                      li
                        a(href='smart-feed.html')
                          span.icon.flaticon-fish-bank
                          span.txt &#xC2A4;&#xB9C8;&#xD2B8; &#xC591;&#xC2DD;&#xC7A5;
                          span.sub-txt
                            | &#xC548;&#xB0B4;&#xD398;&#xC774;&#xC9C0;
                            i.arrow.flaticon-play-button-1
          // Column
          .column.col-xl-3.col-lg-4.col-md-12.col-sm-12
            .footer-widget.links-widget
              .widget-title
                h4 Quick Links
              .widget-content
                ul.links
                  li
                    a(href='about.html') &#xC778;&#xC0AC;&#xB9D0;
                  li
                    a(href='vision.html') &#xBE44;&#xC804;&#xACFC;&#xBBF8;&#xC158;
                  li
                    a(href='history.html') &#xC5F0;&#xD601;
                  li
                    a(href='company.html') &#xAE30;&#xC5C5;&#xC2E4;&#xC801;
                  li
                    a(href='ci.html') CI
                  li
                    a(href='contact.html') Contact Us
      .footer-widget.newsletter-widget

  .footer-bottom
    .auto-container
      .inner.clearfix
        .copyright
          | Copyright &copy; 2020 All Rights Reserved by 
          a(href='https://www.wayit.co.kr' target='_blank' title='웨이시스 홈피로 이동') WAYSYS
        .bottom-links