#product-table {
  width: 70%;
  margin-top: 2%;
  margin-left: 3%;
}

#product-table td{
  width: 33.33%;
  min-width: 33.33%;
}
#product-table td div:hover {
  border: solid 0.7px #19baee;
  
  background: #19baee;
  
}
#product-table td div {
  border: solid 2px #e2e2e1;
  border-radius: 50%;
  margin: 10% 0% 10% 10%;
  padding: 0% 15% 0% 15%;
  height: 190px;
  width: 190px;
  background: #fff;
  padding-top: 10%;
}/*width와 height값 수정 height값이 auto라 찌그러짐 수정 21-02-18 14:33전오상*/
#product-table td div p {
  
  margin: 50% 0%;
  line-height: 1.0;
  font-size: 18px;
  font-weight: 500;
  color: #787878;
  text-align: center;
}
#product-table td div:hover p{
  color: #fff;
  
}
#product-table td div p small {
  font-size: 80%;
  font-weight: 350;
}

#product-table td .left{
  transform: translateX(-15.5%);
}

#product-table td .right{
  transform: translateX(15.5%);
}


@media only screen and (max-width: 1899px){}
@media only screen and (max-width: 1499px){}

@media only screen and (max-width: 1340px){
 .text50 h2{
   font-size:  30px;
   
 }
}
@media only screen and (max-width: 1199px){
 
  #product-table td .left{
    transform: translateX(-17%);
  }
  
  #product-table td .right{
    transform: translateX(17%);
  }
  
  #product-table{
    transform: translateX(-2%);
  }
  .text50 h2{
    font-size:  28px;
    
  }
}

/* @media only screen and (max-width: 1023px){
 
} */
@media only screen and (max-width: 991px){
  .text50 h2{
    font-size:  22px;
    
  }
  #product-table td div p{
    font-size: 14px;
  }

}


@media only screen and (max-width: 767px){
 
  #product-table td div p{
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px){
  #product-table td div {
    width: 160px;
    height: 160px;
  }
}

@media only screen and (max-width: 599px){
  .text50 h2{
    font-size: 20px;
    width: 342px;

    }
}
@media only screen and (max-width: 550px){
  #product-table td div {
    width: 130px;
    height: 130px;
  }
}
@media only screen and (max-width: 500px){
  #product-table{
    transform: translate(0%);
  }
  #product-table td div p {
    margin:45% 0%;
    font-size:17px;
  }
  #product-table td div p {
    font-size: 3vw;
    text-align: center;
    margin: 44% auto;
  }
  #product-table td div{
    padding-top: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 479px) {

  .text50 h2{
    font-size: 20px;
    width: 342px;
  }
  #product-table{
    /*transform: translateX(8%);*/
  }
  #product-table td div p{
      font-size: 13px;
      line-height: 18px;
    }
  #product-table .twoline{
    margin: 10% 0% 10% 10%;
    
  }
  #product-table td div p {
    font-size: 3vw;
  }
 
 
}
@media only screen and (max-width: 450px) {
  #product-table td div {
    width: 115px;
    height: 115px;
  }

}/*21-02-18 15:12 그래프 사이즈 수정 전오상*/

@media only screen and (max-width: 400px) {
  #product-table td div {
    width: 105px;
    height: 105px;
  }
}


@media only screen and (max-width: 320px) {

  .text50 h2{
    font-size: 16px;
    width: 276px;
    
    
    }
 
}