.ci .wordmark{

}
.ci .inner h4{ font-weight: 600; margin-top: 9%;}
.ci .inner h5{
  font-size: 21px;
  word-break: keep-all;
  line-height: 180%;
}/*간격 수정 21-02-17 15:03전오상*/

.ci .wordmark img{
  margin-top: 3%;
}
.wordmark img{
  width: 100%;
}/*이미지 크기 변경 21-02-17 14:39전오상*/
.color_box{
  width: 230px;
  height: 130px;
  margin-top: 5%;
  position: relative;
}
.color_1{
  background-color: #1f8fff;
}
.color_3{
  background-color: #939598;
}
.color_2{
  background-color: #ac8232;
}
.color_4{
  background-color: #000000;
}
.color_text {
  border: 1px solid #d8d8d8;
  padding: 20px 0 0 0;
  width: 24vw;/*21-02-18 13:36전오상 길이수정 기존값 200%*/
  height: 130px;
  position: absolute;
  left: 100%;
}
.color_text span.left{
  margin-right: 8%;/*21-02-18 13:43전오상 퍼센트로 변경*/
  margin-left: 5%;
  font-weight: bold;
}
.color_text span{
  height: 30px;
  line-height: 30px;
}

.ci .logo_type{

}
.ci .logo_type img{
  margin: 3% 0;
  width: 80%;
}/*이미지 크기수정 21-02-17 전오상*/
.logo_type{
  margin-bottom: 5%;
}
.logo_type .type_box h5{
   width: 292px;
   margin: 0 auto;
}
.type_box{
  margin: 5% 0 5%;
  text-align:center;
}/*가운데정렬 21-02-17 14:55전오상*/
@media(max-width: 3100px){
  .color_text {
    width: 420px;
  }
}
@media(max-width: 1550px){
  .color_text {
    width: 400px;
  }
}
@media(max-width: 1300px){
  .color_text {
    width: 24vw;
  }
}

@media(max-width: 1100px){
  .color_text span {
    font-size: 1.5vw;
  }
}/*사이즈수정 21-02-18 13:48전오상*/

@media(max-width: 991px){

  .ci .inner h5{
    font-size: 16px;
  }
  .ci-box:nth-child(1) {
    padding-left: 1.5%
  }
  .ci-box {
    padding-left: 1%;
    padding-right: 1%;
  }
  .color_box {
    width: 23vw;
  }
  .color_text {
    width: 24vw;
  }
 
}/*사이즈수정 21-02-18 14:33전오상*/

@media(max-width: 768px){
  .ci-box:nth-child(1) {
    padding-left: 15px;
  }
  .ci-box {
    padding-left: 15px;
  }
  .color_box {
    width: 30vw;
  }
  .color_text {
    width: 62vw;
  }
  .color_text span {
    font-size: 2vw;
  }
}/*사이즈수정 21-02-18 14:33전오상*/
@media only screen and (max-width: 500px) {
  .color_text span{
    font-size:3.3vw;
    line-height:33px;
  }
  .color_box {
    height:115px;
  }
  .color_text {
    height: 115px;
    padding: 6px 0 0 0;
  }
  .color_text span.left {
    margin-left: 9%;
  }

}

@media(max-width: 479px){

  .ci .inner h4{
    font-size: 16px;
  }
  .ci .inner h5{
    font-size: 14px;
  }
  .ci .logo_type .type_box h5{
    text-align: center;
  }
  .color_box{
    width: 100px;
    /*margin: 5% 0;*/
    position: relative;
  }
}