@media only screen and (max-width: 991px) {
.main-header {
    height: 90px;
}
.page-banner {
    margin-top: 0;
    height: 50vw;
}
.page-banner .inner-container {
    padding-top: 20%;
}
.nav-outer .mobile-nav-toggler {
    margin: -2% 0px 9px 0px;
    font-size: 6vw;
}
.page-banner .banner-inner {
    margin-top: -2px;
}
.main-header .nav-outer {
    float: right;
    width: 100%;
    position:absolute;
    top: 60%;
}
.logo2 {
    width: 100%;
}
/*.why-us-three {
    display: none;
}*/
.pctxt{
    display:none;
}
.footer-bottom {
    display: none;
}
.tab-buttons {
    display:none;
}
.upper-box {
    padding-bottom:5%;
}
.service-tabs .buttons {
    margin-bottom: -55px;
}
.sec-title {
    z-index: 9998;
}
.service-tabs .tabs-content .s-title {
padding-left: 0px;
}
#newInner {
    padding-top:25%;
}
}
@media only screen and (max-width: 500px){
    .nav-outer .mobile-nav-toggler {
        margin: -3% 0px 9px 0px;
    }
    .owl-nav {
        display: none;
    }
    .ceoimg{
        display:none;
    }
    .main-header {
        height: 60px;
    }
    .page-banner h1 {
        font-size: 21px;
    }
    #delM {
        display:none;
    }
    .service-tabs .tabs-content .image-column {
        padding-top:70px;
    }
    .service-tab .tab-content .image-layer {
        margin-top:0;
    }
    .team-section {
        padding: 70px 0px 40px;
    }
        .call-to-action .title-col h4 {
        font-size: 21px;
    }
    .call-to-action{
        padding:30px 0px 10px;
    }
    .call-to-action .title-col {
        margin-bottom: 30px;
    }
    .text  p {
        font-size: 15px;
    }
    #reM {
        padding: 0px 0px 0px 0px;
    }
    #reMf{
        padding-bottom: 20px;
    }
    .about-section {
        padding: 70px 0 0px;
    }
    .why-us, .blog-section, .projects-two, .pricing-section {
        padding: 20px 0px 40px;
    }
    #reMh2 {
        width:100%;
        text-align: center;
    }
    .team-section{
        background:#fff;
    }
    .text-column {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media only screen and (max-width: 450px) {
	.banner-carousel .content-box .content {
		padding: 55% 0px;
	}
	.banner-carousel .content-box .link-box {
		padding-top: 60%;
	}
	.banner-carousel .content-box h1 {
		font-size: 48px;
	}
	.banner-carousel .content-box .subtitle {
		font-size: 20px;
	}
 }
 @media only screen and (max-width: 400px){
    .nav-outer .mobile-nav-toggler {
        margin: -4% 0px 9px 0px;
    }
}