.root_daum_roughmap_landing{
    width:100%;
}
.root_daum_roughmap .wrap_map {
    height:500px;
}
@media only screen and (max-width: 500px) {
    .root_daum_roughmap .wrap_map {
        height:275px;
    }
}