doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(property="og:link" content="http://aquasm.com")
		meta(property="og:title" content="아쿠아넷")
		meta(property="og:image" content="https://aquasm.com/images/linkLogo.png")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		include ../inc/style.pug
		link(rel="stylesheet" href=`/css/${css}.css`)
		include ../inc/script.pug
	body
		//- .preloader
		.icon
		include ../inc/header2.pug
		block content
		include ../inc/footer.pug
		//- script(src=`../js/${js}.js`)
		script(src=`../js/jquery.js`)
		script(src=`../js/popper.min.js`)
		script(src=`../js/bootstrap.min.js`)
		script(src=`../js/jquery-ui.js`)
		script(src=`../js/jquery.fancybox.js`)
		script(src=`../js/validate.js`)
		script(src=`../js/scrollbar.js`)
		script(src=`../js/appear.js`)
		script(src=`../js/wow.js`)
		script(src=`../js/custom-script.js`)
		script(src=`../js/board.js`)
		script(src=`/js/jquery.js`)
		script(src=`/js/popper.min.js`)
		script(src=`/js/bootstrap.min.js`)
		script(src=`/js/jquery-ui.js`)
		script(src=`/js/jquery.fancybox.js`)
		script(src=`/js/validate.js`)
		script(src=`/js/scrollbar.js`)
		script(src=`/js/appear.js`)
		script(src=`/js/wow.js`)
		script(src=`/js/custom-script.js`)
		script(src=`/js/board.js`)
		script(src=`/js/common.js`)
		script(src=`../js/common.js`)
		//- script(src=`https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js`)

