
extends ../layout/default.pug
block content
	.container.renews
		.my-5
			.service-details
				//- button.btn.btn-primary(onclick="location.href='/html/newboard.html';") 글작성
				.sec-title
					.title-icon
						span.icon
							img(src='/images/icons/blue-tang-fish.png' alt='' title='')
					.subtitle notice
					h2 공지/뉴스
				.upper-content
			if user && user.id
			hr
			//- button.btn.btn-primary(onclick="location.href='/board/write';") 글작성 21-02-24 전오상
			button.btn.btn-primary(onclick="location.href='/html/newboard.html';")
			if user && user.id
				a.btn.btn-danger.text-white.navi(href='/user/logout') LOGOUT
	.container.my-5.justify-content-center
		table.table.text-center.retable
			thead
					tr
						th 제목
						th.d-none.d-sm-block.new1 작성자
						th 작성일
			tbody
				each v in lists
					tr
						td.text-center
							a(href=`/board/view/${v.id}`)= v.title
								if v.savefile
									i.fa.fa-file.ml-2
						td.d-none.d-sm-block= '아쿠아넷 담당자'
						td= v.wdate
		include ../inc/pager.pug